body{
    background-color:#c6d4df;
}

.animation-container{
    background-color: #3f3130;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
}

#todo-form input{
    background-color: rgb(27, 112, 137);
    border: 0;
    width: 70%;
    height: 50px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 8px;
    color: #fff;
    margin-right: 20px;
}
#todo-form input::placeholder{
    color:rgb(255, 255, 255, 0.5);
}
#todo-form input:focus, #todo-form button:focus{
    outline: none;
}

#todo-form button{
    width: 24%;
    border-radius: 5px;
    border:0;
    background-color:rgb(202, 156, 24);
    cursor: pointer;
    font-weight: bolder;
    color: #fff;
}



.list{
    background-color: #bf07ac;
    width: 100%;
    color: #fff;
    height: auto;
    border-radius: 4px;
    margin: 15px auto;
}

.faicon{
    margin: 0 5px;
    font-size: 15px;
}

/* .list p{
    position: relative;
} */

.list p span{
    cursor: pointer;
    float: right;
    padding: 10px;
}

.list p input{
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-size: 18px;
}

.list p input:focus{
   outline: none;    
}