body{
    background-color: #fff;
}

/* add style for simple todo app */
.main-container-div{
    background: rgb(229, 216, 216);
    padding : 5px;
    border: 1.5px rgb(118, 46, 46) dotted;
    width: 40%;
    margin: 20px auto;
}

.header-style{
    text-align: center;
    color: #807070;
    font-size: 20px;
    margin: 5px 0px 5px 104px;
    padding: 5px;
    border: 1px dotted #b0a0a0;
    width: 390px;
    border-radius: 2px;
    background-color: #e3c9c9
}

#simple-todo-form{
    width: auto;
    padding:5px;
    margin:5px 0px 10px 100px
}

#simple-todo-form label{
    width: 100px;
    display: inline-block;
    font-size: larger;
    font-weight: bolder;
    color: #807070;
}


#simple-todo-form input{
    width: 275px;
    margin: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
}

/* #simple-todo-form input#submit{
    background-color: #4CAF50;
    width: 400px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
} */

#butSubmit{
    background-color: #4CAF50;
    width: 375px !important;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.btn-del-style {
    background:#ff0000;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
}

.btn-edit-style{
    background: rgb(97, 192, 202);
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 10%;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    height: 10px;
    width: 30px;
    padding-bottom: 28px;
}

.lbl-style {
    font-size:12px; 
    margin-left:10px; 
    text-decoration:none !important;
}

.todo-item-container{
    background: #f4f4f4;
    padding: 5px;
    border-bottom: 1px #ccc dotted;            
    width: 40%;
    margin: 10px auto;
}

.margin0{
    margin: 0;
}

.todo-item-container input[type=checkbox]{
    margin: 0 6px;
}

.display-none{
    display: none !important;
}

.display-block{
    display: block !important;
}
/* add style for bootstrap todo app */


/* add style for animation todo app */